<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova denúncia</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.png') }}"
      type="image/png"
    />
  </head>

  <body>
    <nav class="navbar">
      <span class="logo">📢 Fala, Povo!</span>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/denunciar">Denunciar</a></li>
        <li><a href="/denuncias">Ver denúncias</a></li>
      </ul>
    </nav>

    <div class="container">
      <h1 class="center-title">Registrar uma denúncia</h1>
      <form method="POST" enctype="multipart/form-data">
        <fieldset>
          <legend>Identificação</legend>

          <div id="identificacao">
            <label>Nome: <input type="text" name="nome" required /></label>
            <label>E-mail: <input type="email" name="email" required /></label>
            <label
              >Telefone: <input type="tel" name="telefone" required
            /></label>
          </div>

          <label>
            <input type="checkbox" id="anonimo" name="anonimo" />
            Desejo fazer uma denúncia anônima
          </label>
        </fieldset>

        <fieldset>
          <legend>Categoria do Serviço</legend>
          <label
            >Categoria:
            <select name="categoria" required>
              <option value="">Selecione uma categoria</option>
              <option>Buraco(s) na rua</option>
              <option>Calçada danificada</option>
              <option>Falta de acessibilidade</option>
              <option>Falta de semáforo</option>
              <option>Mau funcionamento de semáforo</option>
              <option>Ponto de ônibus em más condições</option>
              <option>Falta de sinalização</option>
              <option>Poste com lâmpadas queimadas</option>
              <option>Área sem iluminação</option>
              <option>Acúmulo de lixo</option>
              <option>Bueiro entupido</option>
              <option>Falta de coleta seletiva</option>
              <option>Árvore caída</option>
              <option>Esgoto a céu aberto</option>
              <option>Queima irregular de lixo</option>
              <option>Terrenos abandonados</option>
              <option>Outros</option>
            </select>
          </label>
          <label
            >Descrição:
            <textarea name="descricao" rows="5" cols="40" required></textarea>
          </label>
        </fieldset>

        <fieldset>
          <legend>Localização</legend>
          <label>CEP: <input type="text" name="cep" required /></label>
          <label
            >Logradouro: <input type="text" name="logradouro" readonly
          /></label>
          <label>Número: <input type="text" name="numero" required /></label>
          <label>Bairro: <input type="text" name="bairro" readonly /></label>
          <label>Cidade: <input type="text" name="cidade" readonly /></label>
          <label
            >UF:
            <select name="uf" required disabled>
              <option value="">Selecione</option>
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AP">AP</option>
              <option value="AM">AM</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MT">MT</option>
              <option value="MS">MS</option>
              <option value="MG">MG</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PR">PR</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RS">RS</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="SC">SC</option>
              <option value="SP">SP</option>
              <option value="SE">SE</option>
              <option value="TO">TO</option>
            </select>
          </label>
          <label>Referência: <input type="text" name="referencia" /></label>
        </fieldset>

        <fieldset>
          <legend>Anexos</legend>
          <input
            type="file"
            name="anexo"
            accept=".jpg,.jpeg,.png,.mp4,.rar,.zip"
            max-size="10485760"
            required
            multiple
          />
          <p class="info">
            <span class="asterisco">* </span> Formatos aceitos: JPG, JPEG, PNG,
            MP4, RAR, ZIP. Tamanho máximo permitido: 10 MB.
          </p>
        </fieldset>

        <button type="submit">Enviar</button>
        <button type="reset">Cancelar</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
