<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sucesso!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='sucesso.png') }}"
      type="image/png"
    />
  </head>
  <body>
    <nav class="navbar">
      <span class="logo">📢 Fala, Povo!</span>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/denunciar">Denunciar</a></li>
        <li><a href="/denuncias">Ver denúncias</a></li>
      </ul>
    </nav>

    <div class="container success-message">
      <h2>Sua denúncia foi registrada com sucesso!</h2>
      <p>Obrigado por colaborar com a sua comunidade.</p>
      <img
        src="{{ url_for('static', filename='ipatinga.jpg') }}"
        alt="Ipatinga"
        class="card-img"
      />
    </div>
  </body>
</html>
